@font-face {
    font-family: 'DomaineDisplay-Bold';
    src:  url('..//fonts/DomaineDisplay-Bold.woff2') format('woff2'),
          url('..//fonts/DomaineDisplay-Bold.woff') format('woff');
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    
}

header {
    padding: 5px;
    display: flex;
    align-items: center;
}

section {
    padding-top: 15px;
    padding-bottom: 15px;
}

nav {
    display: inline-block;
}

img {
    width: 100%;
    max-width: 100%;
}

h1, h3 {
    text-align: center;
    font-family: 'DomaineDisplay-Bold', sans-serif;
    font-size: 2rem;
} 

h2 {
    text-align: center;
    font-family: 'DomaineDisplay-Bold', sans-serif;
    font-size: 1.25rem;
}

p, a {
    text-align: center;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #000;
}

a:hover {
    color:#fbd54b;
}


form {
    padding: 20px;
    font-size: 15px;
    border-radius: 2px;
}

form.search-bar input[type=text],
form.footer-search input[type=text] {
  padding: 10px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  border: 1px solid grey;
  float: left;
  width: 80%;
  }

form.search-bar button,
form.footer-search button {
  float: left;
  color: #000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

form.search-bar::after,
form.footer-search::after {
    content: "";
    clear: both;
    display: table;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 4px 10px;
  border-radius: 2px;
  height: 30px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0, auto;
}

.row {
    padding-top: 15px;
}

.logo img {
    margin: 0, auto;
}

.main-nav ul,
.blog-nav ul {
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    padding: 0 8px;
    margin-top: 15px;
    font-size: 1rem;
    position: relative;

}

.carousel a:hover,
.offering-tiles a:hover {
    color:#fbd54b;
    font-family: 'DomaineDisplay-Bold';
    background-color: #777;
    text-decoration: none;
}

.blogs-1 a:hover,
.blogs-2 a:hover {
    color:#777;
    font-family: 'DomaineDisplay-Bold';
}

.hamburger {
    display: none;
}

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
}

.video-container iframe, 
.video-container object, 
.video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.slick-slide {
    position: relative;
    height: auto !important;
}

.slick-arrow {
    position: absolute;
    top: calc(50% - 18px);
    transform: translateY(-50%);
    left: 60px;

    color: #fff;
    font-size: 30px;

    z-index: 99;
}

.slick-arrow:hover {
    color: #fbd54b;
}

.slick-next {
    left: auto;
    right: 60px;
}

.slick-dots {
    padding: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    height: 8px;
    width: 8px;
    margin: 0 15px;
    border-radius: 50%;
}

.slick-dots li.slick-active {
    background-color: rgba(0,0,0,1)
}

.slick-dots button {
    display: none;
}


.carousel h1,
.carousel h3 {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: rgba(255,255,255,0.7);
}

.carousel .button {
    position: absolute;
    top: 60%;
    left: 40%;
    width: 20%;
    text-align: center;
    font-size: 1.25rem;
    
}

.button,
.meal-button {
    width: 20%;
    padding: 8px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    border: solid 2px #fbd54b;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}


.offering-tiles .meal-button {
    position: relative;
    left: 20%;
}

.why-bff ul li {
    padding: 1px 2px;
    margin-top: 15px;
    font-size: 1rem;
}

.bff-design ul li {
    padding: 1px 4px;
    margin-top: 15px;
    font-size: 1rem;
}

.info-main {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255,255,255,0.7);
}

.info-text {
    margin-top: 25px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.insta-feed img:hover {
    transform: scale(1.3);
}

.additional-blogs {
    text-align:center;
}

.main-blog,
.blogs-1 {
    padding: 0;
}

.blog-nav ul li {
    display:inline-block;
    padding: 0 8px;
    margin-top: 15px;
    font-size: 1rem;
    position: relative;

}

.col-md-3 {
    padding: 0;
}

.blogs-1 .post{
    background-color:#fbd54b;
    box-shadow: 0 5px 9px rgba(0,0,0,0.3);
    padding: 15px;
    margin: 10px;
}

.blogs-1 h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blogs h2,
.blogs p,
.blog-preview {
    margin-top: 15px;
    margin-bottom: 35px;
}

.blog-link,
.post .myBtn_multi {
    position: absolute;
    bottom: 15px; right: 5px;
    margin-right: 10px;
}

.main-blog {
    text-align:center;
}

.blog-menu ul li {
    display:inline-block;
    padding: 0 8px;
    margin-top: 15px;
    font-size: 1rem;
    position: relative;
}

.modal-content ul li {
    margin-left: 50px;
}

@media (max-width: 767px) {

    .logo {
        max-width: 100%;
    }
    
    .hamburger {
        display: block;
        font-size: 1.75rem;
    }

    .main-nav {
        background-color: #fbd54b;
        position: fixed;
        top: 175px;
        left: -100%;
        width: 100%;
        text-align: center;
        transition: transform 1s;
        z-index: 9;
    }

    .main-nav.open {
        transform: translateX(100%);
    }

    .main-nav ul li {
        display: block;
        font-size: 1.2rem;
        margin: 20px;
    }

    .search-bar {
        display: none;
    }

    .hero-banner .carousel h1, .hero-banner .carousel h3 {
        font-size: 1.75rem;
        top: 15%;
        padding-top: 20px;
        padding-bottom: 80px;
        background-color: rgba(255,255,255,0.7);
    }

    .carousel .button {
        top: 60%;
        left: 25%;
        width: 50%;
    }

    .carousel .button .p {
        font-size: 6px;
    }

}

@media (min-width: 768px) {

    .hero-banner .carousel h1, .hero-banner .carousel h3 {
        font-size: 1.75rem;
        top: 25%;

    }

    .carousel .button {
        top: 50%;
        left: 30%;
        width: 35%;
        padding: 5px;
    }

    .carousel .p {
        font-size: 1rem;
    }

}

@media (min-width: 1024px) {

    .hero-banner .carousel h1, .hero-banner .carousel h3 {
        font-size: 3rem;
        top: 35%;
        padding-top: 20px;
        padding-bottom: 85px;
        background-color: rgba(255,255,255,0.7);
    }

    .carousel .button {
        top: 60%;
        left: 35%;
        width: 30%;
        font-size: 1.5rem;
        padding: 5px;
    }
}

@media (min-width: 1440px) {

    .hero-banner .carousel h1, .hero-banner .carousel h3 {
        font-size: 3rem;
        top: 40%;
        padding-top: 20px;
        padding-bottom: 80px;
        background-color: rgba(255,255,255,0.7);
    }

    .carousel .button {
        top: 55%;
        left: 40%;
        width: 20%;
        font-size: 1.25rem;
    }
}

@media (min-width: 2000px) {

    .hero-banner .carousel h1, .hero-banner .carousel h3 {
        font-size: 4rem;
        top: 40%;
        padding-top: 20px;
        padding-bottom: 90px;
        background-color: rgba(255,255,255,0.7);
    }

    .carousel .button {
        top: 52%;
        left: 40%;
        width: 20%;
        font-size: 1.5rem;
    }
}


.newsletter-form {
    display: center;
}

.footer-nav ul {
    list-style: none;
    margin-top: 5px;
    font-size: .75rem;
    position: relative;
}

.social ul li {
    display: inline-block;
    padding: 0 8px;
    margin-top: 5px;
    font-size: 1.5rem;
    position: relative;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    max-height: 800px;
    overflow: scroll;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.footer-copy {
    margin: 0;
    font-size: 10px;
}